<h2>My Heroes</h2>

<div>
  <label for="new-pop">Pop name: </label>
  <input id="new-pop" #popName />
  <input id="new-pop" #popNumber />
  <input id="new-pop" #popPrice />
  <input id="new-pop" #popShipping />
  <input id="new-pop" #popSold />
  <input id="new-pop" #popDelivered />
  <input id="new-pop" #popCollection />
  <input id="new-pop" #popStore />
  <input id="new-pop" #popImage />
  <input id="new-pop" #popOrderDate />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(popName.value); popName.value = ''"
  >
    Add hero
  </button>
</div>

<ul class="pops">
  <li *ngFor="let pop of pops">
    <a routerLink="/detail/{{ pop.popid }}">
      <span class="badge">{{ pop.popid }}</span> {{ pop.popname }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete pop"
      (click)="delete(pop)"
    >
      x
    </button>
  </li>
</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
